<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <form method="POST" action="login">
      <h2>Log in</h2>
      <input name="email" type="text" class="form-control" placeholder="Email Address" autofocus="true"/>
      <input name="password" type="password" class="form-control" placeholder="Password"/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
      <div style="text-align:center;margin-bottom:10px;margin-top:15px">
        Don't have an account? <a href='/register'>Sign up</a>
      </div>
      <% if (message) { %>
        <div class="alert alert-danger">
          <strong>Failure!</strong> <%= message %>
        </div>
      <% } %>
    </form>
  </div>
 
</body>
</html>
